h1, h2, h3, h4, h5, h6 {
    font-family: "Nanum Myeongjo","Playfair Display",Georgia,"Times New Roman",serif;
    margin-top: 0.5em;
}

body {
    font-family: "Noto Serif KR",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji",serif;
}

pre {
    font-family: "Source Code Pro",SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace
}

.page-description {
    font-family: "Merriweather","Noto Serif KR",serif;
}

p, ol {
    margin-bottom: 1em;
}
