/* Minimal style sheet for the HTML output of Docutils.                    */
/*                                                                         */
/* :Author: Günter Milde, based on html4css1.css by David Goodger          */
/* :Id: $Id: minimal.css 7952 2016-07-26 18:15:59Z milde $               */
/* :Copyright: © 2015 Günter Milde.                                        */
/* :License: Released under the terms of the `2-Clause BSD license`_,      */
/*    in short:                                                            */
/*                                                                         */
/*    Copying and distribution of this file, with or without modification, */
/*    are permitted in any medium without royalty provided the copyright   */
/*    notice and this notice are preserved.                                */
/*                                                                         */
/*    This file is offered as-is, without any warranty.                    */
/*                                                                         */
/* .. _2-Clause BSD license: http://www.spdx.org/licenses/BSD-2-Clause     */

/* This CSS2.1_ stylesheet defines rules for Docutils elements without    */
/* HTML equivalent. It is required to make the document semantic visible. */
/*                                                                        */
/* .. _CSS2.1: http://www.w3.org/TR/CSS2                                  */
/* .. _validates: http://jigsaw.w3.org/css-validator/validator$link       */

/* alignment of text and inline objects inside block objects*/
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.align-center { clear: both; text-align: center; }
.align-top    { vertical-align: top; }
.align-middle { vertical-align: middle; }
.align-bottom { vertical-align: bottom; }

/* titles */
h1.title, p.subtitle {
  text-align: center;
}
p.admonition-title,
p.topic-title,
p.sidebar-title,
p.rubric,
p.system-message-title {
  font-weight: bold;
}
h1 + p.subtitle,
h1 + p.section-subtitle {
  font-size: 1.6em;
}
h2 + p.section-subtitle { font-size: 1.28em; }
p.subtitle,
p.section-subtitle,
p.sidebar-subtitle {
  font-weight: bold;
  margin-top: -0.5em;
}
p.sidebar-title,
p.rubric {
  font-size: larger;
}
p.rubric { color: maroon; }
a.toc-backref {
  color: black;
  text-decoration: none; }

/* Warnings, Errors */
div.caution p.admonition-title,
div.attention p.admonition-title,
div.danger p.admonition-title,
div.error p.admonition-title,
div.warning p.admonition-title,
div.system-messages h1,
div.error,
span.problematic,
p.system-message-title {
  color: red;
}

/* inline literals */
span.docutils.literal {
  font-family: monospace;
  white-space: pre-wrap;
}
/* do not wraph at hyphens and similar: */
.literal > span.pre { white-space: nowrap; }

/* Lists */

/* compact and simple lists: no margin between items */
.simple  li, .compact li,
.simple  ul, .compact ul,
.simple  ol, .compact ol,
.simple > li p, .compact > li p,
dl.simple > dd, dl.compact > dd {
  margin-top: 0;
  margin-bottom: 0;
}

/* Table of Contents */
/*div.topic.contents { margin: 0; }*/
ul.auto-toc {
  list-style-type: none;
  padding-left: 1.5em; }

/* Enumerated Lists */
ol.arabic     { list-style: decimal }
ol.loweralpha { list-style: lower-alpha }
ol.upperalpha { list-style: upper-alpha }
ol.lowerroman { list-style: lower-roman }
ol.upperroman { list-style: upper-roman }

dt span.classifier { font-style: italic }
dt span.classifier:before {
  font-style: normal;
  margin: 0.5em;
  content: ":";
}

/* Field Lists and drivatives */
/* bold field name, content starts on the same line */
dl.field-list > dt,
dl.option-list > dt,
dl.docinfo > dt,
dl.footnote > dt,
dl.citation > dt {
  font-weight: bold;
  clear: left;
  float: left;
  margin: 0;
  padding: 0;
  padding-right: 0.5em;
}
/* Offset for field content (corresponds to the --field-name-limit option) */
dl.field-list > dd,
dl.option-list > dd,
dl.docinfo > dd {
  margin-left:  9em; /* ca. 14 chars in the test examples */
}
/* start field-body on a new line after long field names */
dl.field-list > dd > *:first-child,
dl.option-list > dd > *:first-child
{
  display: inline-block;
  width: 100%;
  margin: 0;
}
/* field names followed by a colon */
dl.field-list > dt:after,
dl.docinfo > dt:after {
  content: ":";
}

/* Bibliographic Fields (docinfo) */
pre.address { font: inherit; }
dd.authors > p { margin: 0; }

/* Option Lists */
dl.option-list { margin-left: 40px; }
dl.option-list > dt { font-weight: normal; }
span.option { white-space: nowrap; }

/* Footnotes and Citations  */
dl.footnote.superscript > dd {margin-left: 1em; }
dl.footnote.brackets > dd {margin-left: 2em; }
dl > dt.label { font-weight: normal; }
a.footnote-reference.brackets:before,
dt.label > span.brackets:before { content: "["; }
a.footnote-reference.brackets:after,
dt.label > span.brackets:after { content: "]"; }
a.footnote-reference.superscript,
dl.footnote.superscript > dt.label {
  vertical-align: super;
  font-size: smaller;
}
dt.label > span.fn-backref { margin-left: 0.2em; }
dt.label > span.fn-backref > a { font-style: italic; }

/* Line Blocks */
div.line-block { display: block; }
div.line-block div.line-block {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 40px;
}

/* Figures, Images, and Tables */
.figure.align-left,
img.align-left,
object.align-left,
table.align-left {
  margin-right: auto;
}
.figure.align-center,
img.align-center,
object.align-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
table.align-center {
  margin-left: auto;
  margin-right: auto;
}
.figure.align-right,
img.align-right,
object.align-right,
table.align-right {
  margin-left: auto;
}
/* reset inner alignment in figures and tables */
div.align-left, div.align-center, div.align-right,
table.align-left, table.align-center, table.align-right
{ text-align: inherit }

/* Admonitions and System Messages */
div.admonition,
div.system-message,
div.sidebar{
  margin: 40px;
  border: medium outset;
  padding-right: 1em;
  padding-left: 1em;
}

/* Sidebar */
div.sidebar {
  width: 30%;
  max-width: 26em;
  float: right;
  clear: right;
}

/* Text Blocks */
div.topic,
pre.literal-block,
pre.doctest-block,
pre.math,
pre.code {
  margin-right: 40px;
  margin-left: 40px;
}
pre.code .ln { color: gray; } /* line numbers */

/* Tables */
table.docutils { border-collapse: collapse; }
table.docutils > td, table.docutils > th {
  border-style: solid;
  border-color: silver;
  padding: 0 1ex;
  border-width: thin;
}
table.docutils > td > p:first-child, table.docutils > th > p:first-child { margin-top: 0; }
table.docutils > td > p, table.docutils > th > p { margin-bottom: 0; }

table.docutils > caption {
  text-align: left;
  margin-bottom: 0.25em
}

table.borderless td, table.borderless th {
  border: 0;
  padding: 0;
  padding-right: 0.5em /* separate table cells */
}

/* CSS31_ style sheet for the output of Docutils HTML writers.             */
/* Rules for easy reading and pre-defined style variants.                  */
/*                                                                         */
/* :Author: Günter Milde, based on html4css1.css by David Goodger          */
/* :Id: $Id: plain.css 7952 2016-07-26 18:15:59Z milde $               */
/* :Copyright: © 2015 Günter Milde.                                        */
/* :License: Released under the terms of the `2-Clause BSD license`_,      */
/*    in short:                                                            */
/*                                                                         */
/*    Copying and distribution of this file, with or without modification, */
/*    are permitted in any medium without royalty provided the copyright   */
/*    notice and this notice are preserved.                                */
/*                                                                         */
/*    This file is offered as-is, without any warranty.                    */
/*                                                                         */
/* .. _2-Clause BSD license: http://www.spdx.org/licenses/BSD-2-Clause     */
/* .. _CSS3: http://www.w3.org/TR/CSS3                                     */


/* Document Structure */
/* ****************** */

/* Sections */

/* Transitions */

hr.docutils {
  width: 80%;
  margin-top: 1em;
  margin-bottom: 1em;
  clear: both;
}

/* Paragraphs               */
/* ==========               */

/* vertical space (parskip) */
/*p, ol, ul, dl,*/
/*div.line-block,*/
/*table{*/
  /*margin-top: 0.5em;*/
  /*margin-bottom: 0.5em;*/
/*}*/
/*h1, h2, h3, h4, h5, h6, */
dl > dd {
  margin-bottom: 0.5em;
}

/* Lists                    */
/* ==========               */

/* Definition Lists         */

dl > dd p:first-child { margin-top: 0; }
/* :last-child is not part of CSS 2.1 (introduced in CSS 3) */
/* dl > dd p:last-child  { margin-bottom: 0; } */

/* lists nested in definition lists */
/* :only-child is not part of CSS 2.1 (introduced in CSS 3) */
dd > ul:only-child, dd > ol:only-child { padding-left: 1em; }

/* Description Lists */
/* styled like in most dictionaries, encyclopedias etc. */
dl.description > dt {
  font-weight: bold;
  clear: left;
  float: left;
  margin: 0;
  padding: 0;
  padding-right: 0.5em;
}

/* Field Lists */

/* example for custom field-name width */
dl.field-list.narrow > dd {
  margin-left: 5em;
}
/* run-in: start field-body on same line after long field names */
dl.field-list.run-in > dd p {
  display: block;
}

/* Bibliographic Fields */

/* generally, bibliographic fields use special definition list dl.docinfo */
/* but dedication and abstract are placed into "topic" divs */
div.abstract p.topic-title {
  text-align: center;
}
div.dedication {
  margin: 2em 5em;
  text-align: center;
  font-style: italic;
}
div.dedication p.topic-title {
  font-style: normal;
}

/* Citations */
dl.citation dt.label {
  font-weight: bold;
}
span.fn-backref {
  font-weight: normal;
}

/* Text Blocks           */
/* ============          */

/* Literal Blocks           */
pre.literal-block, pre.doctest-block,
pre.math, pre.code {
  margin-left: 1.5em;
  margin-right: 1.5em
}

/* Block Quotes             */

blockquote,
div.topic {
  margin-left: 1.5em;
  margin-right: 1.5em
}
blockquote > table,
div.topic > table {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote p.attribution,
div.topic p.attribution {
  text-align: right;
  margin-left: 20%;
}

/* Tables                   */
/* ======                   */

/* th { vertical-align: bottom; } */

table tr { text-align: left; }

/* "booktabs" style (no vertical lines) */
table.booktabs {
  border: 0;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-collapse: collapse;
}
table.booktabs * {
  border: 0;
}
table.booktabs th {
  border-bottom: thin solid;
}

/* numbered tables (counter defined in div.document) */
table.numbered > caption:before {
  counter-increment: table;
  content: "Table " counter(table) ": ";
  font-weight: bold;
}

/* Explicit Markup Blocks   */
/* ======================   */

/* Footnotes and Citations  */
/* -----------------------  */

/* line on the left */
dl.footnote {
  padding-left: 1ex;
  border-left: solid;
  border-left-width: thin;
}

/* Directives               */
/* ----------               */

/* Body Elements            */
/* ~~~~~~~~~~~~~            */

/* Images and Figures */

/* let content flow to the side of aligned images and figures */
.figure.align-left,
img.align-left,
object.align-left {
  display: block;
  clear: left;
  float: left;
  margin-right: 1em
}
.figure.align-right,
img.align-right,
object.align-right {
  display: block;
  clear: right;
  float: right;
  margin-left: 1em
}

/* Sidebar */

/* Move into the margin. In a layout with fixed margins, */
/* it can be moved into the margin completely.           */
div.sidebar {
  width: 30%;
  max-width: 26em;
  margin-left: 1em;
  margin-right: -5.5%;
  background-color: #ffffee ;
}

div.admonition, div.attention, div.caution, div.danger, div.error,
div.hint, div.important, div.note, div.tip, div.warning, div.sidebar,
div.system-message {
/* stolen from Boostrap 4 (.card) */
  margin-bottom: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding: 0;
}

div.attention, div.caution, div.danger, div.error, div.warning {
  /* stolen from Boostrap 3 (.border-danger) */
  border-color: #dc3545!important;
}

div.admonition p, div.hint p,
div.important p, div.note p,
div.tip p, div.sidebar p,
div.attention p, div.caution p,
div.danger p, div.error p,
div.warning p, div.system-message p {
    padding-left: 1rem;
    padding-right: 1rem;
}

div.admonition p.admonition-title, div.hint p.admonition-title,
div.important p.admonition-title, div.note p.admonition-title,
div.tip p.admonition-title, div.sidebar p.sidebar-title,
div.attention p.admonition-title, div.caution p.admonition-title,
div.danger p.admonition-title, div.error p.admonition-title,
div.warning p.admonition-title, div.system-message p.system-message-title {
/* stolen from Boostrap 4 (.card .card-header) */
  font-weight: 400;
  font-size: 1.25rem;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

div.attention p.admonition-title, div.caution p.admonition-title,
div.danger p.admonition-title, div.error p.admonition-title,
div.warning p.admonition-title, div.system-message p.system-message-title {
  /* stolen from Boostrap 4 (.card .card-header .bg-danger) */
  background-color: #dc3545;
  color: white;
}

div.sidebar {
    margin-right: 0;
}

/* code.css file generated by Nikola */
pre.code , .highlight pre .hll { background-color: #49483e }
pre.code , .highlight pre  { background: #272822; color: #f8f8f2 }
pre.code .c, .highlight pre .c { color: #75715e } /* Comment */
pre.code .err, .highlight pre .err { color: #960050; background-color: #1e0010 } /* Error */
pre.code .k, .highlight pre .k { color: #66d9ef } /* Keyword */
pre.code .l, .highlight pre .l { color: #ae81ff } /* Literal */
pre.code .n, .highlight pre .n { color: #f8f8f2 } /* Name */
pre.code .o, .highlight pre .o { color: #f92672 } /* Operator */
pre.code .p, .highlight pre .p { color: #f8f8f2 } /* Punctuation */
pre.code .ch, .highlight pre .ch { color: #75715e } /* Comment.Hashbang */
pre.code .cm, .highlight pre .cm { color: #75715e } /* Comment.Multiline */
pre.code .cp, .highlight pre .cp { color: #75715e } /* Comment.Preproc */
pre.code .cpf, .highlight pre .cpf { color: #75715e } /* Comment.PreprocFile */
pre.code .c1, .highlight pre .c1 { color: #75715e } /* Comment.Single */
pre.code .cs, .highlight pre .cs { color: #75715e } /* Comment.Special */
pre.code .gd, .highlight pre .gd { color: #f92672 } /* Generic.Deleted */
pre.code .ge, .highlight pre .ge { font-style: italic } /* Generic.Emph */
pre.code .gi, .highlight pre .gi { color: #a6e22e } /* Generic.Inserted */
pre.code .gs, .highlight pre .gs { font-weight: bold } /* Generic.Strong */
pre.code .gu, .highlight pre .gu { color: #75715e } /* Generic.Subheading */
pre.code .kc, .highlight pre .kc { color: #66d9ef } /* Keyword.Constant */
pre.code .kd, .highlight pre .kd { color: #66d9ef } /* Keyword.Declaration */
pre.code .kn, .highlight pre .kn { color: #f92672 } /* Keyword.Namespace */
pre.code .kp, .highlight pre .kp { color: #66d9ef } /* Keyword.Pseudo */
pre.code .kr, .highlight pre .kr { color: #66d9ef } /* Keyword.Reserved */
pre.code .kt, .highlight pre .kt { color: #66d9ef } /* Keyword.Type */
pre.code .ld, .highlight pre .ld { color: #e6db74 } /* Literal.Date */
pre.code .m, .highlight pre .m { color: #ae81ff } /* Literal.Number */
pre.code .s, .highlight pre .s { color: #e6db74 } /* Literal.String */
pre.code .na, .highlight pre .na { color: #a6e22e } /* Name.Attribute */
pre.code .nb, .highlight pre .nb { color: #f8f8f2 } /* Name.Builtin */
pre.code .nc, .highlight pre .nc { color: #a6e22e } /* Name.Class */
pre.code .no, .highlight pre .no { color: #66d9ef } /* Name.Constant */
pre.code .nd, .highlight pre .nd { color: #a6e22e } /* Name.Decorator */
pre.code .ni, .highlight pre .ni { color: #f8f8f2 } /* Name.Entity */
pre.code .ne, .highlight pre .ne { color: #a6e22e } /* Name.Exception */
pre.code .nf, .highlight pre .nf { color: #a6e22e } /* Name.Function */
pre.code .nl, .highlight pre .nl { color: #f8f8f2 } /* Name.Label */
pre.code .nn, .highlight pre .nn { color: #f8f8f2 } /* Name.Namespace */
pre.code .nx, .highlight pre .nx { color: #a6e22e } /* Name.Other */
pre.code .py, .highlight pre .py { color: #f8f8f2 } /* Name.Property */
pre.code .nt, .highlight pre .nt { color: #f92672 } /* Name.Tag */
pre.code .nv, .highlight pre .nv { color: #f8f8f2 } /* Name.Variable */
pre.code .ow, .highlight pre .ow { color: #f92672 } /* Operator.Word */
pre.code .w, .highlight pre .w { color: #f8f8f2 } /* Text.Whitespace */
pre.code .mb, .highlight pre .mb { color: #ae81ff } /* Literal.Number.Bin */
pre.code .mf, .highlight pre .mf { color: #ae81ff } /* Literal.Number.Float */
pre.code .mh, .highlight pre .mh { color: #ae81ff } /* Literal.Number.Hex */
pre.code .mi, .highlight pre .mi { color: #ae81ff } /* Literal.Number.Integer */
pre.code .mo, .highlight pre .mo { color: #ae81ff } /* Literal.Number.Oct */
pre.code .sa, .highlight pre .sa { color: #e6db74 } /* Literal.String.Affix */
pre.code .sb, .highlight pre .sb { color: #e6db74 } /* Literal.String.Backtick */
pre.code .sc, .highlight pre .sc { color: #e6db74 } /* Literal.String.Char */
pre.code .dl, .highlight pre .dl { color: #e6db74 } /* Literal.String.Delimiter */
pre.code .sd, .highlight pre .sd { color: #e6db74 } /* Literal.String.Doc */
pre.code .s2, .highlight pre .s2 { color: #e6db74 } /* Literal.String.Double */
pre.code .se, .highlight pre .se { color: #ae81ff } /* Literal.String.Escape */
pre.code .sh, .highlight pre .sh { color: #e6db74 } /* Literal.String.Heredoc */
pre.code .si, .highlight pre .si { color: #e6db74 } /* Literal.String.Interpol */
pre.code .sx, .highlight pre .sx { color: #e6db74 } /* Literal.String.Other */
pre.code .sr, .highlight pre .sr { color: #e6db74 } /* Literal.String.Regex */
pre.code .s1, .highlight pre .s1 { color: #e6db74 } /* Literal.String.Single */
pre.code .ss, .highlight pre .ss { color: #e6db74 } /* Literal.String.Symbol */
pre.code .bp, .highlight pre .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
pre.code .fm, .highlight pre .fm { color: #a6e22e } /* Name.Function.Magic */
pre.code .vc, .highlight pre .vc { color: #f8f8f2 } /* Name.Variable.Class */
pre.code .vg, .highlight pre .vg { color: #f8f8f2 } /* Name.Variable.Global */
pre.code .vi, .highlight pre .vi { color: #f8f8f2 } /* Name.Variable.Instance */
pre.code .vm, .highlight pre .vm { color: #f8f8f2 } /* Name.Variable.Magic */
pre.code .il, .highlight pre .il { color: #ae81ff } /* Literal.Number.Integer.Long */
table.codetable { width: 100%;} td.linenos {text-align: right; width: 4em;}

/*!
 * baguetteBox.js
 * @author  feimosi
 * @version 1.11.0
 * @url https://github.com/feimosi/baguetteBox.js
 */#baguetteBox-overlay{display:none;opacity:0;position:fixed;overflow:hidden;top:0;left:0;width:100%;height:100%;z-index:1000000;background-color:#222;background-color:rgba(0,0,0,.8);-webkit-transition:opacity .5s ease;transition:opacity .5s ease}#baguetteBox-overlay.visible{opacity:1}#baguetteBox-overlay .full-image{display:inline-block;position:relative;width:100%;height:100%;text-align:center}#baguetteBox-overlay .full-image figure{display:inline;margin:0;height:100%}#baguetteBox-overlay .full-image img{display:inline-block;width:auto;height:auto;max-height:100%;max-width:100%;vertical-align:middle;-webkit-box-shadow:0 0 8px rgba(0,0,0,.6);-moz-box-shadow:0 0 8px rgba(0,0,0,.6);box-shadow:0 0 8px rgba(0,0,0,.6)}#baguetteBox-overlay .full-image figcaption{display:block;position:absolute;bottom:0;width:100%;text-align:center;line-height:1.8;white-space:normal;color:#ccc;background-color:#000;background-color:rgba(0,0,0,.6);font-family:sans-serif}#baguetteBox-overlay .full-image:before{content:"";display:inline-block;height:50%;width:1px;margin-right:-1px}#baguetteBox-slider{position:absolute;left:0;top:0;height:100%;width:100%;white-space:nowrap;-webkit-transition:left .4s ease,-webkit-transform .4s ease;transition:left .4s ease,-webkit-transform .4s ease;transition:left .4s ease,transform .4s ease;transition:left .4s ease,transform .4s ease,-webkit-transform .4s ease,-moz-transform .4s ease}#baguetteBox-slider.bounce-from-right{-webkit-animation:bounceFromRight .4s ease-out;animation:bounceFromRight .4s ease-out}#baguetteBox-slider.bounce-from-left{-webkit-animation:bounceFromLeft .4s ease-out;animation:bounceFromLeft .4s ease-out}@-webkit-keyframes bounceFromRight{0%,100%{margin-left:0}50%{margin-left:-30px}}@keyframes bounceFromRight{0%,100%{margin-left:0}50%{margin-left:-30px}}@-webkit-keyframes bounceFromLeft{0%,100%{margin-left:0}50%{margin-left:30px}}@keyframes bounceFromLeft{0%,100%{margin-left:0}50%{margin-left:30px}}.baguetteBox-button#next-button,.baguetteBox-button#previous-button{top:50%;top:calc(50% - 30px);width:44px;height:60px}.baguetteBox-button{position:absolute;cursor:pointer;outline:0;padding:0;margin:0;border:0;-moz-border-radius:15%;border-radius:15%;background-color:#323232;background-color:rgba(50,50,50,.5);color:#ddd;font:1.6em sans-serif;-webkit-transition:background-color .4s ease;transition:background-color .4s ease}.baguetteBox-button:focus,.baguetteBox-button:hover{background-color:rgba(50,50,50,.9)}.baguetteBox-button#next-button{right:2%}.baguetteBox-button#previous-button{left:2%}.baguetteBox-button#close-button{top:20px;right:2%;right:calc(2% + 6px);width:30px;height:30px}.baguetteBox-button svg{position:absolute;left:0;top:0}.baguetteBox-spinner{width:40px;height:40px;display:inline-block;position:absolute;top:50%;left:50%;margin-top:-20px;margin-left:-20px}.baguetteBox-double-bounce1,.baguetteBox-double-bounce2{width:100%;height:100%;-moz-border-radius:50%;border-radius:50%;background-color:#fff;opacity:.6;position:absolute;top:0;left:0;-webkit-animation:bounce 2s infinite ease-in-out;animation:bounce 2s infinite ease-in-out}.baguetteBox-double-bounce2{-webkit-animation-delay:-1s;animation-delay:-1s}@-webkit-keyframes bounce{0%,100%{-webkit-transform:scale(0);transform:scale(0)}50%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes bounce{0%,100%{-webkit-transform:scale(0);-moz-transform:scale(0);transform:scale(0)}50%{-webkit-transform:scale(1);-moz-transform:scale(1);transform:scale(1)}}
img {
    max-width: 100%;
}

.titlebox {
    text-align: right;
}


td.label {
    /* Issue #290 */
    background-color: inherit;
}

.footnote-reference {
    /* Issue 290 */
    vertical-align: super;
    font-size: xx-small;
}

.caption {
    /* Issue 292 */
    text-align: center;
    padding-top: 1em;
}

div.figure > img,
div.figure > a > img {
    /* Issue 292 */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

blockquote p, blockquote {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.25;
}

ul.bricks > li {
    display: inline;
    background-color: lightblue;
    padding: 8px;
    border-radius: 5px;
    line-height: 3;
    white-space:nowrap;
    margin: 3px;
}

pre, pre code {
    white-space: pre;
    word-wrap: normal;
    overflow: auto;
}

article.post-micro {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

.image-block {
    display: inline-block;
}

.tags {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    text-align: center;

}

.tags > li {
    display: inline-block;
}
.tags > li a {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    background-color: #868e96;
}

.tags > li a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #6c757d;
}

.metadata p:before,
.postlist .listdate:after {
    content: " — ";
}

.metadata p:first-of-type:before {
    content: "";
}

.metadata p {
    display: inline;
}

.posttranslations h3 {
    display: inline;
    font-size: 1em;
    font-weight: bold;
}

.posttranslations h3:last-child {
    display: none;
}

.entry-content {
    margin-top: 1em;
}

/* for alignment with Bootstrap's .entry-content styling */
.entry-summary {
    margin-top: 1em;
}

/* Custom page footer */
#footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.codetable {
    table-layout: fixed;
}

.codetable pre {
    overflow-x: scroll;
}

/* hat tip bootstrap/html5 boilerplate */
@media print {
    *, *:before, *:after {
        font-family: Garamond, Junicode, serif;
    }

    body {
        font-size: 12pt;
    }

    article .entry-title a[href]:after,
    article .metadata a[href]:after,
    article .tags a[href]:after {
        content: "";
    }

    article .metadata .sourceline {
        display: none;
    }

    article .metadata .linkline a[href]:after {
        content: " (" attr(href) ")";
    }

    .navbar {
        display: none;
    }
}

pre {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.75rem;
}

.postindexpager {
    padding-bottom: 1rem;
}

ul.navbar-nav {
    margin-top: 0;
}

ul.pager {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    padding-left: 0;
    margin: 0.5rem 0;
}

ul.pager li.previous {
    margin-right: auto;
    display: inline;
}

ul.pager li.next {
    margin-left: auto;
    display: inline;
}


ul.pager li a {
    display: inline;
    position: relative;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    border: 1px solid #ddd;
    border-radius: .25rem;
}

.codetable td {
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.codetable td.linenos pre {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.codetable td.code pre.code {
    margin-left: 0;
    margin-right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.h-150 { height: 150px; }
@media (min-width: 768px) {
  .h-md-150 { height: 150px; }
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
article {
  margin-bottom: 4rem;
}
article:last-child {
  margin-bottom: 0;
}
.entry-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
article .metadata {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .nbb-navbar-toggler {
    display: none;
  }

  .nbb-header {
    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
  }
}

/* Various fixes that make this theme look better for Nikola's needs */
.navbar-brand {
    padding: 0;
    white-space: initial;
}

.bootblog4-featured-large-image {
    height: 100%;
    border-top-right-radius: .25rem!important;
    border-bottom-right-radius: .25rem!important;
}

.bootblog4-featured-jumbotron-row {
    margin-left: 0;
    margin-right: 0;
}

.bootblog4-right-nav {
    flex-direction: row;
}

.bootblog4-right-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.bootblog4-featured-text {
    overflow: auto;
}
/* extend the mobile appearance to `sm`, because otherwise weird things happen */
@media (min-width: 576px) {
    .nbb-navbar-toggler {
        display: block;
    }
}

@media (max-width: 767px) {
    .bootblog4-right-nav {
        margin-top: 1rem;
    }

    .bootblog4-search-form-holder {
        position: absolute;
        top: 2.75rem;
    }

    .bootblog4-search-form-holder input.form-control {
        width: 6rem;
    }

    .bootblog4-brand {
        text-align: left;
    }
}

@media (min-width: 768px) {
    .nbb-navbar-toggler {
        display: none;
    }

    .flex-collapse {
        display: flex !important;
    }

    .bootblog4-search-form-holder {
        display: block !important;
    }

    .bootblog4-brand {
        text-align: center;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Nanum Myeongjo","Playfair Display",Georgia,"Times New Roman",serif;
    margin-top: 0.5em;
}

body {
    font-family: "Noto Serif KR",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji",serif;
}

pre {
    font-family: "Source Code Pro",SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace
}

.page-description {
    font-family: "Merriweather","Noto Serif KR",serif;
}

p, ol {
    margin-bottom: 1em;
}

